[Desktop Entry]
Name=Brush
Comment=3D Reconstruction for all
Exec=brush
Icon=org.ArthurBrussee.Brush
Terminal=false
Type=Application
Categories=Graphics;
